html,
body {
  background-color: #121212; /* Dark background for dark mode */
  color: #ffffff; /* Light text color for contrast */
  height: 100%;
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  align-items: center;
}

#buttonContainer {
  display: flex;
  flex-wrap: wrap; /* Allow the container to wrap elements */
  justify-content: center; /* Center-align the button groups */
  gap: 20px; /* Space between button groups */
  width: 80%;
  max-width: 620px; /* Max width to support two buttons per row with some spacing */
}

.button-container {
  display: flex;
  flex-direction: column; /* Stack logo and button vertically */
  align-items: center; /* Center-align the contents */
  width: calc(
    50% - 10px
  ); /* Adjust width for two items per row, accounting for gap */
}

.button-logo {
  pointer-events: none; /* Prevents dragging of images */
  width: auto; /* Maintain aspect ratio */
  height: 100px; /* Adjust height so that the buttons align correctly */
  margin-bottom: 15px; /* Space between logo and button */
}

/* Update button with improved styling */
button.update {
  background-color: #000000;
  color: #e6c229;
  font-weight: bold;
  width: calc(100% - 20px);
  order: 99; /* Ensure it's always at the end */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

button.update:hover {
  background-color: #000000;
  color: #ffeaa7;
}

/* Play and Download buttons with improved styling */
button.download,
button.play {
  background-color: #3d7e9a;
  color: #ffffff;
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

button.download:hover,
button.play:hover {
  background-color: #2c6178;
}

button {
  width: 100%; /* Ensure buttons take full width of their container */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px; /* Adjust font size for better readability */
}

/* Positioning for installation text and progress bar */
#installText,
#install-progress {
  position: fixed; /* Fixed position to overlay content */
  top: 50%; /* Center vertically */
  left: 50%;
  transform: translate(-50%, -10px); /* Adjust for exact centering */
  width: 80%; /* Responsive width */
  max-width: 400px; /* Maximum width */
  text-align: center; /* Center text for #installText */
}

#install-progress {
  position: fixed; /* Ensure progress bar is also fixed */
  top: calc(50% + 20px); /* Position just below the #installText */
  transform: translate(
    -50%,
    20px
  ); /* Adjust for exact positioning below text */
}

html,
body,
button,
#buttonContainer,
.button-container,
.button-logo {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}
